@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="title-head centered">
            <span class="text-danger">Error.@Model.Exception.Message</span>
            <h4 class="text-danger">An error occurred while processing your request.</h4>
        </div>
    </div>
</div>

@Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)
