@{
    ViewBag.Title = "Info";
}




@* Show What/How *@
<div class="custom-tabs" data-effect-in="flipInX">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#tab1" data-toggle="tab">First</a>
        </li>
        <li>
            <a href="#tab2" data-toggle="tab">Second</a>
        </li>
        <li>
            <a href="#tab3" data-toggle="tab">Third</a>
        </li>
        <li>
            <a href="#tab4" data-toggle="tab">Fourth</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <p>[...]</p>
        </div>
        <div class="tab-pane fade" id="tab2">
            <p>[...]</p>
        </div>
        <div class="tab-pane fade" id="tab3">
            <p>[...]</p>
        </div>
        <div class="tab-pane fade" id="tab4">
            <p>[...]</p>
        </div>
    </div>
</div>  

@section scripts{
}