@{
    ViewBag.Title = "Home Page";
}


<!-- Start slider wrapper -->
<div class="slider-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-content">
                    <div class="flexslider-wrapp">
                        <!-- Start Images slider -->
                        <div class="flexslider">
                            <ul class="slides">
                                <li><img src="~/Content/img/Stackify/_RetraceWeb.jpg" alt="Stackify Website"></li>
                                <li><img src="~/Content/img/Stackify/_APM.jpg" alt="Tweet Reader APM"></li>
                                <li><img src="~/Content/img/Stackify/_SupportWeb.jpg" alt="Support Site"></li>
                            </ul>
                        </div>
                        <!-- End Images slider -->
                    </div>
                    <img src="~/Content/img/macbook.png" class="img-responsive" alt="Laptop" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End slider wrapper -->
<div class="row">
    <div class="col-md-12">
        <div class="divider"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="title-head centered">
            <span>Stackify</span>
            <h4>Retrace</h4>
        </div>
    </div>
</div>
<!-- Start contain wrapper -->

<ol class="process-line">
    <li class="col-md-3 col-sm-3">
        <span class="icons"><i class="fa fa-tachometer"></i></span>
        <h5>APM</h5>
        <p>The flagship of Stackify, our APM product gathers in-depth and relevant performance data for your applications.</p>
        <a href="https://stackify.com/application-performance-management-solution/">Learn More</a>
    </li>
    <li class="col-md-3 col-sm-3">
        <span class="icons"><i class="fa fa-file-text-o"></i></span>
        <h5>Log Management</h5>
        <p>Routing logs into Retrace is easy to implement and searching them is a breeze in the Logs Dashboard.</p>
        <a href="https://stackify.com/log-management/">Learn More</a>
    </li>
    <li class="col-md-3 col-sm-3">
        <span class="icons"><i class="fa fa-bug"></i></span>
        <h5>Error Monitoring</h5>
        <p>Finding bugs when and where they happen is easier than ever with Stackify!</p>
        <a href="https://stackify.com/error-monitoring/">Learn More</a>
    </li>
    <li class="col-md-3 col-sm-3">
        <span class="icons"><i class="fa fa-bar-chart"></i></span>
        <h5>App Metrics</h5>
        <p>The App Dashboard shows a broad overview of health metrics at a glance</p>
        <a href="https://stackify.com/application-metrics/">Learn More</a>
    </li>
</ol>

@* TODO add text about Retrace 'Read More' to website*@

   @*Supported .NET Technologies & 3rd Party Libraries
    The following frameworks are automatically supported by Stackify in v2.4. APM+ profiler traces will include details from these libraries. Please note that most async functions are supported in the following libraries as well. For services that are running on your servers, you can also set up monitors for them.

    UI Frameworks

    WebForms
    MVC
    Web API
    WCF
    Nancy
    ServiceStack
    Owin
    Databases

    Most ORM solutions like Entity Framework, NHibernate, Dapper, Linq2SQL and others work perfectly. Unfortunately, Devart libraries are not currently supported.

    SQL Server
    MySql (MySql.Data.MySqlClient)
    Oracle (Oracle.ManagedDataAccess & System.Data.OracleClient)
    Postgres (Npgsql)
    SQL Server CE
    ODBC via OdbcCommand
    Storage/NoSQL

    MongoDB
    Elasticsearch
    RavenDB
    Azure libraries (see below)
    AWS libraries (see below)
    Cache

    Redis (ServiceStack & StackExchange)
    memcached (enyim)
    AppFabric & Azure Cache (Microsoft cache)
    Queues

    Azure Service Bus
    Azure Storage Queue
    MSMQ
    NServiceBus
    Web Requests

    Low level HttpWebRequest/HttpWebResponse
    WebClient
    HttpClient
    RestSharp
    Auto generated WCF proxy clients
    Plus others from libraries that use HTTP within them like Elasticsearch, Azure storage, etc
    Azure

    SQL Azure
    Storage (Blogs, Queues, Tables)
    Document DB
    Azure Service Bus
    Caching (via Redis & AppFabric support)
    AWS

    S3
    SimpleDB
    SimpleEmail
    SimpleNotificationService (SNS)
    SimpleWorkflow
    SQS
    ElastiCache (via memcached & redis support)
    CloudSearch
    Redshift
    ElasticMapReduce
    ElasticTranscoder
    Glacier
    Other

    Retrace also tracks and shows times for some other various activities

    Estimated compilation time
    HTTP Modules
    Reading incoming HTTP post data and deserializing requests
    Serializing and sending HTTP responses
    Request queuing
*@

<!-- End contain wrapper -->
@section scripts{
    <!-- Flexslider -->
    <script src="~/Content/js/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/Content/js/flexslider/setting.js"></script>
}