
@{
    ViewBag.Title = "ThrowErrors";
}


<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="intro">
            <h4>
                Error Logging With Stackify
            </h4>
            <blockquote class="centered">
                <p>
                    Retrace can collect errors in multiple ways. When using our full APM with code profiling, we are able to collect exceptions directly from .NET or Java, without any code changes! Retrace also accepts any errors reported directly from your code via your logging libraries.

                    Our users typically find all kinds of errors they never knew even existed. Many times they find errors that have existed for a long time that were being caught and thrown away by their code. These errors could be hidden problems or simply causing unnecessary performance overhead.
                </p>
            </blockquote>
            <a href="https://stackify.com/error-monitoring/"><h5><i>Error Monitoring - Stackify Blog</i></h5></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="divider"></div>
    </div>
</div>
<div class="cta-wrapp cta-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1"><h5>For all of the supported framework-specific setup and configuration instructions, follow the appropriate links below:</h5></div>
        </div>
    </div>
</div>
<div class="contain-wrapp">
    <div class="container">
        <div class="row">
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <div class="col-md-4 col-sm-4">
                        <p><strong>.NET</strong></p>
                        <ul>
                            <li>
                                <a href="https://stackify.zendesk.com/hc/en-us/articles/205419475" target="_blank">Log4Net</a>
                            </li>
                            <li><a href="https://stackify.zendesk.com/hc/en-us/articles/205419505" target="_blank">NLog</a></li>
                            <li>
                                <a href="https://stackify.zendesk.com/hc/en-us/articles/205419515" target="_blank">Elmah</a>
                            </li>
                            <li><a href="https://github.com/stackify/stackify-api-dotnet#direct-api" target="">.NET Stackify API</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p><strong>Java</strong></p>
                        <ul>
                            <li><a href="https://stackify.zendesk.com/hc/en-us/articles/205419535" target="_blank">Log4J</a></li>
                            <li>
                                <a href="https://stackify.zendesk.com/hc/en-us/articles/205419545" target="_blank">Logback</a>
                            </li>
                            <li>
                                <a href="https://stackify.zendesk.com/hc/en-us/articles/205419545" target="_blank">Java Stackify API</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p><strong>PHP</strong>  </p>
                        <ul>
                            <li><a href="https://github.com/stackify/stackify-log-monolog" target="_blank">Monolog</a></li>
                            <li>
                                <a href="https://github.com/stackify/stackify-log-log4php" target="_blank">Log4PHP</a>
                            </li>
                            <li><a href="https://github.com/stackify/stackify-api-php" target="_blank">PHP Stackify API</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-push-1">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <p><strong>Node.js</strong></p>
                        <ul>
                            <li>
                                <a href="https://github.com/stackify/stackify-log-winston" target="_blank">Winston</a>
                            </li>
                            <li>
                                <a href="https://github.com/stackify/stackify-log-nodejs" target="_blank">Node.js Stackify API</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <p><strong>Ruby</strong></p>
                        <ul>
                            <li>
                                <a href="https://github.com/stackify/stackify-api-ruby" target="_blank">Ruby Stackify API</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <p><strong>Build a custom library for other languages against our REST API</strong></p>
                        <ul>
                            <li>
                                <a href="https://github.com/stackify/stackify-api/blob/master/endpoints/POST_Log_Save.md" target="_blank">REST API</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <p><strong>Collecting Server Logs</strong></p>
                        <ul>
                            <li>
                                <a href="https://stackify.zendesk.com/hc/en-us/articles/205419665" target="">Windows Event Logs</a>
                            </li>
                            <li><a href="https://stackify.zendesk.com/hc/en-us/articles/204719939" target="">Syslog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
